
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --accent-light:#D3D932;
  --dark: #373B41;
  --lightest: #F2F2F2;
  --light: #E0E396;
  --accent-dark: #C4891B;   
}

html {
  scroll-behavior: smooth;
}

ul, li,
body, .wrapper {
   padding: 0;
   margin: 0
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;  
  font-family: 'Montserrat', sans-serif;  
  background-color: #F2F5F7;
  font-size: 1em;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}



/* ********* LOADDER ********* */
.loader {
  display: none;  
}
svg {
  position: absolute;
}
circle:nth-of-type(1) { fill: var(--dark)}
circle:nth-of-type(2) { fill: var(--accent-light)}
circle:nth-of-type(3) { fill: var(--accent-light)}
circle:nth-of-type(4) { fill: var(--dark) }
#clackers {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.message {  
  text-align: center;
  font-size: 16px;
}

.all_ingred {
  font-size: 18px;
  padding-left: 20px;
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;  
}
.all_ingred li {
  padding: 4px;
}
.all_ingred li a{
  width: 100%;
  cursor: pointer;
 } 
.all_ingred li:nth-child(2n) {
  background-color: #e8e9eb
}

.abc_menu {
  padding: 10px;   
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  display: none;
  
}
.abc_menu a {  
  padding: 6px 10px;
  margin: 1px;
  background-color: var(--light);
  color: var(--dark);
  font-family: Arial, Helvetica, sans-serif;
}
.abc_menu a:hover {
  opacity: 0.6;
}
/* .active {
  background-color: var(--accent-dark) !important;
} */


.content {
  min-height: calc(85vh - 10vh);
}

footer {
  width: 100%;
  height: 8vh;
  /* background: url(../img/dark_leather.png); */
  background-color:#272A2D;
  color: var(--lightest);    
  font-size: 0.8em;
  z-index: 200;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.copy {
  align-self: flex-end;
}
.go-up {
  align-self: center;
  padding-right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: var(--accent-light);
}


/* *************************  MOBILES FIRST *********************** */

/* *************************  HEADER *********************** */

header {
  height: 25vh;
  width: 100%;
  background: url(../img/concrete_wall.png);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header_title {
  display: flex;
  font-size: 20px;
  color: var(--accent-light);
  padding-top: 3vh;
  margin: 0;
  font-family: 'Rock Salt', cursive;
}


.find_line {
  border-bottom: 3px solid var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;  
  width: 100%;
  padding: 10px;
  background-color: var(--lightest);
}

.find_line span {
  position: relative;
  top: 10px;
  right: 10px;
  color: var(--dark)
}
.radio_cont { 
  display: flex;
  flex-direction: row;   
}

.radio_input {
  display: none;    
}  

.radio_input+label {
  padding: 5px 7px;
  color: var(--accent-light);
  font-weight: bold;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  font-size: 20px;
}
.radio_input:checked+label {
  color: var(--accent-dark); 
  opacity: 1;
  border: 1px solid var(--accent-dark);
}
.radio_input+label:hover {
  color: var(--accent-dark);
  cursor: pointer;  
}

.input_cont {
  align-self: center;
  margin-top: 5px;
  width: 70%;
  margin-left: -5%;
}

.text_input { 
  background-color: var(--lightest);
  border-radius: 5px 0 0 5px;
  border: 2px solid var(--dark);
  outline: none;
  padding: 8px;
  width: 100%;
}
.text_input:focus {
  background-color: rgba(230, 231, 205, 0.966);
}

.btn_submit {
  border: none;
  border-radius: 0 5px 5px 0;
  margin: 0;
  box-shadow: unset;
  background-color: var(--dark);
  position: absolute;  
  color: var(--lightest);
  font-size: 17px;
  padding: 7.5px;
}




/* ***************  navigation ********************** */

.side_nav {
  display: flex;
  flex-direction: row;
  height: 6vh;
  width: 100vw;
  padding: 8px 5px;
  margin-top: -6vh;
}

.side_nav li {
  flex-basis: 25%;
}

.side_nav li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  border-left: 1px solid rgb(66, 73, 78);
  padding: 0 3px;
}
.side_nav li:first-child {
  border-left: none;
}

.nav-link {
  color: var(--light);
  font-size: 1em;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdown_content {  
  position: absolute ;
  top: 25vh;
  left: 0;  
}

.dropdown_content li { 
  background-color: var(--light);
  position: relative; 
  z-index: 10;   
  width: 70vw !important;  
  height: 50px;
  font-size: 16px;
  padding: 7px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-left: none;
  border-bottom: 1px solid var(--lightest);
  
}
.dropdown_content li span {
  color: var(--dark)
}

.dropdown_content li i { 
  color: var(--accent-dark); 
}
.delete_all {
  background-color: var(--accent-dark) !important;  
  justify-content: center !important;
  height: 40px !important;

}



.recipe_container,
.ingredient_container,
.search_results {    
  width: 100vw; 
  margin: 0 auto;  
  display: flex;
  flex-direction: column;    
  animation: 0.6s ease-in-out 0s 1 fadeIn;
}


  /* ***************  recipe container ********************** */
.recipe_container {
  position: relative;
}
  
.coctail_title {
  color: var(--dark);
  justify-self: center;
  padding: 0 10px;
  order: 1;
}

.fav_icon {
  perspective: 600px;
  transition: 1s;
  position: relative;
  left: 20px;
  color: var(--accent-dark)
}

.fav_icon-clicked {    
  transform: rotate3d(0.8, 0.8, 1, 360deg);
  color: var(--accent-light);
}
.coctail_pict {
  width: 200px;
  height: 200px;
  justify-self: center;
  border: 2px solid var(--dark);
  order: 2;
}

.coctail_instructions {
  order: 4;
  padding: 10px;
  padding-bottom: 10vh;
}
.ingredients_list {  
  order: 3;
  height: auto;
  margin-left: 10vw;

}

.ingredients_list li {  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border-bottom: 1px solid var(--accent-dark); */
  width: 90%;  
}
.ingredients_list a {
  font-size: 1em;   
}
.ingredients_list li img {
  width: 50px;
  cursor: pointer;  
}




/* ***************** search results **************** */

.search_var {
  width: 95%;
  max-width: 500px;
  flex-direction: row;    
  margin: 0 auto;     
  background-color: unset;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(66, 73, 78, 0.164); 
}

.coctail_link {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.coctail_img_var {
  width: 100px; 
  margin-left: 15px;  
  border: 2px solid var(--dark)  ;
  align-self: flex-end; 
}

.title_var {
  color: var(--dark);
  font-size: 18px;   
  height: 27px;
  text-align: center; 
}

.bookmark {    
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;   
  width: 60%;
  cursor: pointer;
}

.alco,
.category {        
  background-color: unset;
  font-size: 15px;
  color: var(--accent-dark);  
}




/* ***************** ingredient container **************** */
.ingredient_container {
  padding-top: 30px;
  width: 90vw;   
}

.ingr_top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.ingredient_container img {  
  width: 35%;  
}

.btn_showByIngred {  
  font-size: 18px;
  height: 60%;
  background-color: var(--light);
  width: 200px;
  border-radius: 3px;
  padding: 5px 5px;
  border-top: none;
  border-left: none;
  background: linear-gradient(180deg, var(--lightest) 50%, var(--accent-light) 50%)
}



@media only screen and (min-width: 600px) {

  .input_cont {
    width: 40%;
  }

  .recipe_container,
  .ingredient_container,
  .search_results,
  .ingredients_list {
    font-size: 18px;   
  }

  .coctail_instructions {
    padding-left: 30px;
    padding-right: 30px
  }

  .all_ingred {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
  }
}

@media only screen and (min-width: 768px) { 

  header {
    height: 20vh;
  }
  .header_title {
    padding-top: 30px;
    font-size: 27px;
  }

  .content {
    width: 100vw;
    display: flex;
    flex-direction: row;
    z-index: 1;    
  }

  .main {
    width: 80vw;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
    
  .find_line {   
    background-color: unset;
    padding: 0;
    height: 10vh;
    min-height: 80px;
    flex-direction: row;
    justify-content: center;
    width: 100;
  }

  .input_cont {
    width: 40%;    
    max-width: 300px;
    padding-right: 30px;
    margin-left: 0;
    padding-left: 10px;
    
  }

  .text_input {
    border: 2px solid var(--dark);
    padding: 10px;
  }

  .find_line span {
    color: var(--dark)
  }

  .btn_submit {
   background-color: var(--dark);
   color: var(--accent-light);
   padding: 9.5px;
  }


  .side_nav {
    flex-direction: column;   
    width: 20vw;  
    height: 100vh; 
    background-color: var(--dark);
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  .side_nav li {
   flex-basis: 10vh;
  }

  .nav-link {
    height: 100%;
    color: var(--light);
    width: 100%;
    border-bottom: 1px solid rgba(155, 171, 185, 0.322);
  }

  .nav-link:hover,
  .dropdown_content li:hover {
    background-color: rgb(87, 96, 104);
  }

  .dropdown_content{
    left: 20vw;
    top: 10vh;
  }

  .dropdown_content li {
    align-items: center;
    max-width: 400px;
    height: 60px;
    margin: 0;  
    font-size: 0.9em;    
    background-color: var(--dark);
  }
  
  .dropdown_content li span {
    cursor: pointer; 
    color: var(--light);
    width: 90%;
    height: 100%;
    padding: 15px;
  }

 


  .recipe_container,
  .ingredient_container,
  .search_results {    
    width: 95%;
    max-width: 900px;
    justify-self: flex-end;
  }

  /* ***************** recipe container ***************** */
  .recipe_container {
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.3fr, 1fr, 0.2fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 50px;  
  }
  
  .coctail_pict_cont {
    grid-area: 2 / 2 / 3 / 3;
    width: 100%;
    height: 300px;  
    position: relative;
  }
  
  .coctail_title {
  grid-area: 1 / 1 / 2 / 3; 
  font-family: var(--title-font); 
  color: var(--dark);
  position: relative;
  margin-bottom: 40px;
  }
  .coctail_instructions {
    grid-area: 3 / 2 / 4 / 3;
    height: auto; 
  }
  
  .ingredients_list {  
    margin: 0;
    padding: 0;  
    list-style-type: none; 
    grid-area:  2 / 1 / 4 / 2;  
    height: auto;
    border-right: 1px solid rgb(204, 203, 203);
  }

 
  .fav_icon:hover {
    cursor: pointer;
    color: var(--accent-dark);  
  }
  .ingredients_list li {  
    display: flex;
    justify-content: flex-start;
    align-items: center;    
    width: 90%;   
  }
  
  .ingredients_list li img {
    width: 70px;
    cursor: pointer;
  }
 


  /****************** SEARCH RESULTS CONTAINER ********************/

  .search_results {
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    box-shadow: unset;
  }

  .search_var {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);  
    display: flex;
    flex-direction: column;  
    justify-content: flex-start;    
    margin-left: 10px;  
    margin-top: 30px;
    margin-bottom: 20px;
    height: auto; 
    width: 240px
  }

  .coctail_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100% 
  }

  .coctail_img_var {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 45px;
  }

  .bookmark {
    width: 100%;
    position: relative;
    display: flex;
  }

  .alco, .category {
    position: absolute;  
    width: 50%;
    padding: 3px;
    height: 40px;
    text-align: center;
    color: var(--dark); 
  }

  .alco {
    top: 273px;
    left:0;
    border-right: 1px solid rgb(214, 214, 214); 
  }

  .category {
    top: 273px;
    right: 0;
  }

  .search_var:hover {
    transform: scale(1.1);
    opacity: 0.5;
  }


/************************* INGREDIENT CONTAINER ********************/

  .ingredient_container {
    width: 75vw;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
  }

  .ingredient_container img {  
    width: 35%;  
  }

  .btn_showByIngred {  
    font-size: 20px;
    background-color: var(--light);
    width: 220px;
    border-radius: 3px;
    background: linear-gradient(180deg, var(--lightest) 50%, var(--accent-light) 50%)
  } 
}



@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}